.header {
  background-color: white;
  padding: 1rem 0;

  .header-wrapper {
    width: 92%;
    .navbar {
      padding: 0;
    }
    .navbar-nav {
      .nav-link {
        margin-left: 30px;
        font-size: 1.1rem;
        font-weight: 500;
        color: rgb(101, 101, 101);
        opacity: 0.5;
        &.active {
          color: black;
          opacity: 1;
        }
      }
    }
  }
}
