.filters-container {
  width: 92%;
  margin: 0 auto;
  min-height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .filter-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .btn {
      background-color: transparent;
      border: none;
      display: flex;
      align-items: center;
      font-weight: bold;
      font-size: 1rem;
      height: 24px;
      line-height: 24px;
      padding: 0px 8px;
      margin-right: 20px;
      color: rgb(0, 0, 0);
      cursor: pointer;
      border-radius: 0px;
      &:active {
        background-color: #000;
        color: #fff;
      }
      &:active svg path {
        fill: rgb(255, 255, 255) !important;
      }
      &:focus {
        box-shadow: none;
      }
    }
  }
  .action-btn {
    .btn {
      font-weight: bold;
      border: 1px solid rgba(0, 0, 0, 0.4);
      width: 160px;
      height: 48px;
      box-sizing: border-box;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      border-radius: 0;
      justify-content: center;
      cursor: pointer;
      background-color: rgb(255, 255, 255);
      color: rgb(0, 0, 0);
      &:focus {
        box-shadow: none;
      }
      &:hover {
        border-color: #000;
      }
    }
  }
}
